version: "3.4"

services:
  db-auth:
    image: postgres:10-alpine
    volumes:
      - auth_data:/var/lib/postgresql/data
    env_file:
    - .auth-db-env
    networks:
      - jimmy-auth-net
    expose:
      - '5432'
  auth:
    image: jboss/keycloak:4.4.0.Final
    environment:
      - DB_VENDOR=POSTGRES
      - DB_ADDR=db-auth
    env_file:
      - .auth-env
    depends_on:
       - db-auth
    networks:
      - jimmy-auth-net
      - jimmy-net
    ports:
      - '8082:8080'

  db:
    image: postgres:10-alpine
    volumes:
      - jimmy_db_data:/var/lib/postgresql/data
    env_file:
      - .db-env
    networks:
      - jimmy-db-net
    expose:
      - '5432'
  back:
    image: ${USER}/jimmy-back
    env_file:
      - .db-env
      - .keycloak-client-env
    environment:
      - SPRING_PROFILES_ACTIVE=production
      - KEYCLOAK_CLIENT_ID=jimmy-back
    depends_on:
      - db
      - auth
    networks:
      - jimmy-db-net
      - jimmy-net
    expose:
      - '8080'

  front:
    image: ${USER}/jimmy-front:develop
    env_file:
      - .keycloak-client-env
    environment:
      - KEYCLOAK_CLIENT_ID=jimmy-front
      - BACKEND_URL=http://back:8080
      - PORT=4000
    depends_on:
      - back
      - auth
    networks:
      - jimmy-net
    ports:
      - "80:4000"

networks:
  jimmy-db-net:
  jimmy-net:
  jimmy-auth-net:

volumes:
  auth_data:
  jimmy_db_data:
